<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>沱江资阳段洪水风险图管理系统</title>

    <link rel="stylesheet" href="/3rd/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/3rd/bootstrap/dist/css/bootstrap-theme.min.css"/>

    <link type="text/css" rel="stylesheet" href="/css/index.css">

    <script type="text/javascript" src="/3rd/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/3rd/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/index/index.js"></script>
</head>

<body id="indexBody">
<div class="panel">
    <div class="header">
        <div class="headerBox">
            <div class="headLogo"></div>
            <div class="logoText">沱江资阳段洪水风险图管理系统</div>
        </div>
    </div>

    <div class="loginForm">
        <div id="erroT"></div>
        <form class="formbox form-horizontal" method="post" action="/admin/login">
            <% if (!(typeof errorMsg === 'undefined')) { %>
            <script language="javascript">
                $('#erroT').text('<%= errorMsg %>').removeClass('state2').addClass('state1').addClass('erroText');
            </script>
            <% } %>
            <div class="companyNum form-group  form-group-sm">
                <label for="inputUserName" class="control-label"></label>
                <div class="formInp">
                    <input placeholder="登录号码" type="text" class="form-control" id="inputUserName"
                           name="username"/>
                </div>
            </div>
            <div class="pwdNum form-group form-group-sm">
                <label for="inputPassword" class="control-label"></label>

                <div class="formInp">
                    <input placeholder="密码" type="password" class="form-control" id="inputPassword"
                           name="password"/>
                </div>
            </div>
            <div class="checkB checkbox">
                <label>
                    <input id="rmbUser" onchange="changeC()" class="checks" type="checkbox">
                    记住密码
                </label>
            </div>
            <div class="form-group">
                <div class="loginbtn">
                    <button type="button" onclick="saveUserInfo()" class="loginBtns btn btn-primary">登录</button>
                </div>
            </div>
        </form>
    </div>


</div>

<div class="foot"><span>版权所有&nbsp;&nbsp;沱江资阳段洪水风险图管理系统</span>
</div>
<script type="text/javascript" src="/js/index/jquery.cookie.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        if ($.cookie("rmbUser") == "true") {
            $("input:checkbox").attr("checked", true);
            $("#inputUserName").val($.cookie("username"));
            $("#inputPassword").val($.cookie("password"));
        }
    });
    //    function changeC() {
    //        if($('#rmbUser').is(':checked')){
    //
    //        }else {
    //            $('#rmbUser').html('');
    //        }
    //    }
    //记住用户名密码
    function saveUserInfo() {
        if ($("#rmbUser").attr("checked", true)) {
            var str_username = $("#inputUserName").val();
            var str_password = $("#inputPassword").val();
            $.cookie("rmbUser", "true", {expires: 7}); //存储一个带7天期限的cookie
            $.cookie("username", str_username, {expires: 7});
            $.cookie("password", str_password, {expires: 7});
        } else {
            $.cookie("rmbUser", "false", {expire: -1});
            $.cookie("username", "", {expires: -1});
            $.cookie("password", "", {expires: -1});
        }
    }
    ;
</script>
</body>
</html>