<!DOCTYPE html>
<html>
<head>
    <title>日志记录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="/3rd/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="/3rd//smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"/>-->
    <!--解决百度地图的labe边框与bootstrap自到的边框相冲突的问题,所以使用这个修改版的bootstrap样式-->
    <link href="/css/xz_bootstrap.min.css" rel="stylesheet">
    <link href="/css/layer.css" rel="stylesheet">
    <link rel="stylesheet" href="/3rd/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" href="/3rd/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css"/>
    <link href="/css/schedule.css" rel="stylesheet">

    <!--<link href="//cdn.bootcss.com/bootstrap-fileinput/4.3.8/css/fileinput.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/css/mapView.css">
    <link href="/css/logging.css" rel="stylesheet">

    <script src="/3rd/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/3rd/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/3rd/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/3rd/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/gis/situation/logging.js"></script>
</head>
<script>
    function goToAdmin() {
        window.open("/admin");
//            self.location = "/admin";
    }
</script>

<body>
<div class="mainBox">
    <div class="mainTop">
        <div class="topBox">

            <div class="topRight">
                <i class="zrtLogo"></i>
                <span class="backstageManage" onclick="goToAdmin();"><i class="backstageIcon"></i>后台管理</span>
                <span class="exitThis"><a href="/admin/logout"><i class="exitIcon"></i>退出</a></span><br>
                <span id="userInforos"><strong class="timeShow">2017-05-09 13:27:20</strong></span>
            </div>
            <div class="topCenter">
                <i class="alarmIcon"></i>
            </div>
        </div>
    </div>
    <div class="logggingMain">
        <div class="logggingTop">
            <input type="button" class="btn retrunToSchedule" value="返回">
            <h1>日志记录</h1>
        </div>
        <div class="logggingCent">
            <div class="loggingSerch">
                <li class="dropdown serchType">
                    <a class="dropdown-toggle" id="choseType" data-toggle="dropdown" href="#">选择搜索类型<b class="caret"></b></a>
                    <ul class="dropdown-menu" id="serchItemUl">
                        <li><a href="#">根据发起人员搜索</a></li>
                        <li><a href="#">根据时间搜索</a></li>
                        <li><a href="#">根据操作类型搜索</a></li>
                        <li><a href="#">根据接受人员搜索</a></li>
                    </ul>
                </li>
                <input type="text" class="form-control input-logging" placeholder="日志搜索">
                <i class="serchloggingIcon"></i>
                <i class="freshenLoggingIcon"></i>
            </div>
        </div>
        <div class="logggingBottom">
            <div>
                <table width="100%" cellspacing="0" cellpadding="0"
                       class="table table-bordered table-hover table-striped data_week">
                    <tr class="tb_title" id="loggingTableTr">
                        <td width="10%"> 序号</td>
                        <td width="20%">员工</td>
                        <td width="20%"> 事件</td>
                        <td width="30%">时间</td>
                        <td width="20%">详情</td>
                    </tr>
                </table>
            </div>
            <div class="loggingTable_title">
                <table id="loggingDataTable" width="100%" cellspacing="0" cellpadding="0"
                       class="table table-bordered table-hover table-striped">
                    <tr>
                        <td width="10%">1</td>
                        <td width="20%">动车组005</td>
                        <td width="20%">呼叫</td>
                        <td width="30%">2017-03-04 12:45:09</td>
                        <td width="20%"><a>详情</a></td>
                    </tr>
                    <tr>
                        <td width="10%">1</td>
                        <td width="20%">动车组005</td>
                        <td width="20%">呼叫</td>
                        <td width="30%">2017-03-04 12:45:09</td>
                        <td width="20%"><a>详情</a></td>
                    </tr>
                    <tr>
                        <td width="10%">1</td>
                        <td width="20%">动车组005</td>
                        <td width="20%">呼叫</td>
                        <td width="30%">2017-03-04 12:45:09</td>
                        <td width="20%"><a>详情</a></td>
                    </tr>
                    <tr>
                        <td width="10%">1</td>
                        <td width="20%">动车组005</td>
                        <td width="20%">呼叫</td>
                        <td width="30%">2017-03-04 12:45:09</td>
                        <td width="20%"><a>详情</a></td>
                    </tr>
                    <tr>
                        <td width="10%">1</td>
                        <td width="20%">动车组005</td>
                        <td width="20%">呼叫</td>
                        <td width="30%">2017-03-04 12:45:09</td>
                        <td width="20%"><a>详情</a></td>
                    </tr>
                    <tr>
                        <td width="10%">1</td>
                        <td width="20%">动车组005</td>
                        <td width="20%">呼叫</td>
                        <td width="30%">2017-03-04 12:45:09</td>
                        <td width="20%"><a>详情</a></td>
                    </tr>
                    <tr>
                        <td width="10%">1</td>
                        <td width="20%">动车组005</td>
                        <td width="20%">呼叫</td>
                        <td width="30%">2017-03-04 12:45:09</td>
                        <td width="20%"><a>详情</a></td>
                    </tr>
                    <tr>
                        <td width="10%">1</td>
                        <td width="20%">动车组005</td>
                        <td width="20%">呼叫</td>
                        <td width="30%">2017-03-04 12:45:09</td>
                        <td width="20%"><a>详情</a></td>
                    </tr>
                    <tr>
                        <td width="10%">1</td>
                        <td width="20%">动车组005</td>
                        <td width="20%">呼叫</td>
                        <td width="30%">2017-03-04 12:45:09</td>
                        <td width="20%"><a>详情</a></td>
                    </tr>
                    <tr>
                        <td width="10%">1</td>
                        <td width="20%">动车组005</td>
                        <td width="20%">呼叫</td>
                        <td width="30%">2017-03-04 12:45:09</td>
                        <td width="20%"><a>详情</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>