<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/pagination/common/reset.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/pagination/common/highlight.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/pagination/common/common.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/pagination/pagination.css" media="screen">
    <script src="/js/chart/highcharts.js"></script>
    <script type="text/javascript" src="/3rd/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/3rd/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/3rd/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/lib/my97datepicker/WdatePicker.js"></script>
    <script src="/3rd/moment/min/moment.min.js"></script>
    <script src="/pagination/common/highlight.min.js"></script>
    <script src="/pagination/jquery.pagination.js"></script>
    <title>历史记录</title>
</head>
<body>
<div>
    <input type="hidden" value="<%= siteId %>" id="curSiteId">
    <input type="hidden" value="<%= st %>" id="st">
    <input type="hidden" value="<%= et %>" id="et">
    <input type="hidden" value="<%= type %>" id="qType">
    <div style="height: 38px">
        <div style="float: left"><input style="margin-top: 7px; height: 20px; width: 20px" type="checkbox" value="ZYNL000001" id="ZYNL000001">
            <div style="margin-top: 8px; float: left">莲花路铁路桥</div>
        </div>
        <div style="float: left"><input style="margin-top: 7px; height: 20px; width: 20px" type="checkbox" value="ZYNL000002" id="ZYNL000002">
            <div style="margin-top: 8px; float: left">大千路仁德药厂</div>
        </div>
        <div style="float: left"><input style="margin-top: 7px; height: 20px; width: 20px" type="checkbox" value="ZYNL000003" id="ZYNL000003">
            <div style="margin-top: 8px; float: left">孙家坝农贸市场</div>
        </div>
        <div style="float: left"><input style="margin-top: 7px; height: 20px; width: 20px" type="checkbox" value="ZYNL000004" id="ZYNL000004">
            <div style="margin-top: 8px; float: left">东门大桥引桥</div>
        </div>
        <div style="float: left"><input style="margin-top: 7px; height: 20px; width: 20px" type="checkbox" value="ZYNL000005" id="ZYNL000005">
            <div style="margin-top: 8px; float: left">南骏铁路桥</div>
        </div>
        <div style="float: left"><input style="margin-top: 7px; height: 20px; width: 20px" type="checkbox" value="ZYNL000006" id="ZYNL000006">
            <div style="margin-top: 8px; float: left">城南铁路桥</div>
        </div>
    </div>

    <div style="height: 38px">
        <div style="float: left; margin-top: 10px">开始时间</div>
        <div style="float: left"><input type="text" id="hStartDate" style="width: 120px"
                                        onclick="WdatePicker({dateFmt:'yyyy-MM-dd', skin:'whyGreen',maxDate:'%y-%M-%d'})"
                                        readonly></div>
        <div style="float: left"><input style="margin-top: 7px; height: 20px; width: 20px" type="radio" value="m" name="qType"></div>
        <div style="float: left; margin-top: 10px;">按月</div>
        <div style="float: left"><input style="margin-top: 7px; height: 20px; width: 20px" type="radio" value="d" checked name="qType"></div>
        <div style="float: left; margin-top: 10px;">按天</div>
        <div style="float: left; width: 100px; margin-left: 10px"><input style="width: 80px" type="button" value="查 询"
                                                                         onclick="queryHistory()"></div>
    </div>
    <div id="container" style="max-width:1000px;height:400px"></div>
    <div align="center">
        <div align="center"> &nbsp;</div>
        <table id="hisTableName" width="600" border="1"
               style="display: none;">
            <thead>
            <th id="siteName" colspan="2">时间</th>
            </thead>
            <thead>
            <th>时间</th>
            <th>水位(米)</th>
            </thead>
            <tbody id="hisTable">
            </tbody>
        </table>
        <div>
            <div class="m-style hisList-box" style="text-align: center"></div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    let orgData = [];
    $("#" + $('#curSiteId').val()).attr('checked', true);
    callServer({
        sites: [$('#curSiteId').val()],
        st: parseInt($('#st').val()),
        et: parseInt($('#et').val()),
        qType: $('#qType').val()
    });
    function queryHistory() {
        let dataJson = {};
        let sites = [];
        for (let i = 1; i < 8; i++) {
            if ($("#ZYNL00000" + i).is(':checked')) {
                sites.push("ZYNL00000" + i);
            }
        }
        dataJson.sites = sites;
        let st = $("#hStartDate").val();
        let et = $("#hEndDate").val();
        if (!st) {
            alert("开始时间不能为空");
            return null;
        }

        if ($('input[name="qType"]:checked').val() == "m") {
            let curMonth = moment(st).add(30, "days");
            if (moment(curMonth).isBefore(moment.now())) {
                et = curMonth;
            } else {
                let distince = moment(st).diff(moment.now(), "day");
//                alert(distince);
                st = moment(st).subtract((29 + distince), "day");
                et = moment.now();
            }
        } else {
            et = st;
        }

        //       alert(moment(st).format("YYYY-MM-DD mm:hh:ss") + "  " + moment(et).format("YYYY-MM-DD mm:ss:ss"))
//        return;

        if (!et) {
            alert("结束时间不能为空");
            return null;
        }
        let stTime = moment(st).utc("+08:00").valueOf();
        let etTime = moment(et).utc("+08:00").valueOf();
        if (stTime > etTime) {
            alert("开始时间不能大于结束时间");
            return null;
        }
        if (etTime - stTime > 30 * 24 * 3600 * 1000) {
            alert("间隔日期不能超过30天");
            return null;
        }
        dataJson.st = stTime;
        dataJson.et = etTime
        dataJson.qType = $('input[name="qType"]:checked').val();
        callServer(dataJson);
    }

    function callServer(queryJson) {
        console.log(JSON.stringify(queryJson));
        $.ajax({
            url: '/hfxt/queryLoggingHistory',
            type: 'post',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(queryJson),
            success: function (data) {
//                console.log(JSON.stringify(data));
                drawChart(data.data);
                orgData = data.data.orgData;
            },
            error: function (err) {
                console.log(JSON.stringify(err));
                //location.href = '/';
            }
        });


    }

    function createTable(siteId, page, siteName) {
        $('#siteName').text(siteName);
        let htmls = '';
        let stp = (parseInt(page) - 1) * 10;
        let etp = (orgData.length < (stp + 10)) ? orgData.length : stp + 10;
        for (var i = stp; i < etp; i++) {
            if (orgData[i].siteid == siteId) {
                htmls += '<tr align="center"><td>' + orgData[i].createtime + '</td>' +
                        '<td>' + orgData[i].flow + '</td>' +
                        '</tr>';
            }
        }

        $('.hisList-box').pagination({
            totalData: orgData.length,
            showData: 10,
            current: page,
            callback: function (api) {
                createTable(siteId, api.getCurrent(), siteName);
            }
        });

        $('#hisTableName').show();
        $('#hisTable').html(htmls);
    }

    function drawChart(backData) {
        let xCategories = backData.xCat;
        let datas = backData.allDatas;
        var chart = Highcharts.chart('container', {
            title: {
                text: '水位历史数据情况'
            },
            yAxis: {
                title: {
                    text: '高度(米)'
                }
            },
            xAxis: {
                categories: xCategories,
                title: {
                    text: '到达时间'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },
            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: true
                    },
                    pointStart: 0,
                    events: {
                        click: function (event) {
//                            $('#siteName').text(this.name);
                            createTable(this.userOptions.siteId, 1, this.name);
//                            location.href='http://www.baidu.com';
                        }
                    }

                }
            },
            series: datas,
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 1000
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }
        });
    }
</script>
