<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>沱江资阳段洪水风险图管理系统</title>

    <link rel="stylesheet" href="/3rd/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/3rd/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/3rd/datatables.net-bs/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" href="/3rd/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css"/>
    <link rel="stylesheet" href="/3rd/bootstrap-datepicker/dist/css/bootstrap-datepicker.css"/>
    <link rel="stylesheet" href="/css/root.css"/>

    <script type="text/javascript" src="/3rd/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/3rd/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/3rd/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/3rd/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="/3rd/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>
    <script type="text/javascript" src="/3rd/bootstrap-waitingfor/build/bootstrap-waitingfor.min.js"></script>
    <script type="text/javascript" src="/3rd/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript"
            src="/3rd/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>

    <script type="text/javascript" src="/js/management/root.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="page-header">
        <h1>沱江资阳段洪水风险图管理系统后台
            <small>超级用户</small>
            <a style="margin-left : 600px" class="btn btn-link logoutLink" href="/admin/logout" role="button">退出</a>
        </h1>
    </div>

    <div>
        <div class="col-md-3 eva-nav">
            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li role="presentation">
                    <a href="#systemInfo" id="idTabSys" aria-controls="systemInfo" role="tab" data-toggle="tab">系统状态</a>
                </li>
                <li role="presentation" class="active">
                    <a href="#enterpriseAccout" id="idTabChat" aria-controls="enterpriseAccout" role="tab"
                       data-toggle="tab">帐户管理</a>
                </li>
                <li role="presentation">
                    <a href="#privilegesManage" aria-controls="privilegesManage" role="tab" data-toggle="tab">权限管理</a>
                </li>
            </ul>
        </div>

        <div class="col-md-9 tab-content">

            <!--系统状态内容区域-->
            <div id="systemInfo" role="tabpanel" class="tab-pane">

                <div class="col-sm-8 col-sm-offset-2">
                    <table class="table table-striped table-bordered ">
                        <tbody>
                        <tr>
                            <td class="text-right" width="40%">当前超级用户</td>
                            <td class="text-left" width="60%">
                                <a class="btn btn-link logoutLink" href="#" id="changeRootPwd" role="button">修改密码</a>&nbsp;
                                <!--<a class="btn btn-link logoutLink" href="/admin/logout" role="button">退出</a>-->
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right" width="40%">当前版本号</td>
                            <td class="text-left" width="60%">0.0.1
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--权限管理区域-->
            <div id="privilegesManage" role="tabpanel" class="tab-pane">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="contentBtnGroup">
                                <button id="btnAddPrivilege" type="button" class="btn btn-default btn-sm">添加权限</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table id="tabPrivileges" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th width="15%">编码</th>
                                <th width="25%">名称</th>
                                <th width="30%">权限描述</th>
                                <th width="30%">操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            <!-- 添加/编辑 权限对话框 -->
            <div class="modal" id="dlgAddPrivilege" tabindex="-1" role="dialog" aria-labelledby="dlgAddPrivilegeTitle">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <input type="hidden" id="privilegeSaveMode"/>
                            <h4 class="modal-title" id="dlgAddUserTitle">添加权限</h4>
                        </div>
                        <div class="modal-body">
                            <form id="dlgUserForm">

                                <div class="alert alert-warning hidden" id="dlgPrivilegeFormInputInvalid"></div>

                                <table class="table table-striped table-bordered addPrivilegeTable">
                                    <tbody>
                                    <tr>
                                        <td class="text-right" width="20%">编码</td>
                                        <td class="text-left" width="30%"><input type="text" id="privilegeCode"
                                                                                 class="form-control input-sm"></td>
                                        <td class="text-right" width="20%">名称</td>
                                        <td class="text-left" width="30%"><input type="text" id="privilegeName"
                                                                                 class="form-control input-sm"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right" width="20%">描述</td>
                                        <td class="text-left" width="30%" colspan="3">
                                            <input type="text" id="privilegeDescription"
                                                   class="form-control input-sm"></td>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" id="btnPrivilegeSave" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 设置权限对话框 -->
            <div class="modal" id="dlgPrivilegeMember" tabindex="-1" role="dialog" aria-labelledby="dlgPrivilegeMemberTitle">
                <div class="modal-dialog" style="width:850px;" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="dlgPrivilegeMemberTitle">设置权限</h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-warning hidden" id="dlgPrivilegeMemberInputInvalid"></div>
                            <div style="height:100%;overflow: hidden">
                                <table id="tabPrivilegeMember" class="table table-striped table-bordered" cellspacing="0"
                                       width="100%">
                                    <tbody>
                                    <thead>
                                    <tr>
                                        <th width="30%">编码</th>
                                        <th width="40%">名称</th>
                                        <th width="30%">设置权限</th>
                                    </tr>
                                    </thead>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" id="btnPrivilegeMemberSave" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--企业管理-->
            <div id="enterpriseAccout" role="tabpanel" class="tab-pane active">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <button type="button" id="idBtnCreateEnterprise" class="btn btn-info btn-sm" onclick="">
                                添加帐户
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table id="tabEnterpriseList" class="table table-striped table-bordered" cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                <th width="30%">帐户名称</th>
                                <th width="15%">登录号码</th>
                                <th width="55%">相关操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 修改企业指挥号 -->
    <div class="modal" id="dlgCommander" tabindex="-1" role="dialog" aria-labelledby="dlgExpCommander">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dlgExpCommander">修改指挥账号</h4>
                </div>
                <div class="modal-body">
                    <form id="dlgExpForm">
                        <div class="alert alert-warning hidden" id="dlgCmdFormInputValid"></div>

                        <table class="table table-striped table-bordered addUserTable">
                            <tbody>
                            <tr>
                                <td class="text-right" width="20%">指挥账号</td>
                                <td class="text-left" width="30%">
                                    <input size="20" type="text" id="enpCommander" value="">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="btnCommanerSave" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 修改企业过期时间 -->
    <div class="modal" id="dlgExp" tabindex="-1" role="dialog" aria-labelledby="dlgExpTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dlgExpTitle">修改过期时间</h4>
                </div>
                <div class="modal-body">
                    <form id="dlgExpForm">
                        <input type="hidden" id="hideIdNumber">
                        <div class="alert alert-warning hidden" id="dlgExpFormInputValid"></div>

                        <table class="table table-striped table-bordered addUserTable">
                            <tbody>
                            <tr>
                                <td class="text-right" width="20%">过期时间&nbsp;</td>
                                <td class="text-left" width="30%">
                                    <input size="20" type="text" id="mdExpDate" value="" readonly>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="btnExpSave" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 修改企业配额 -->
    <div class="modal" id="dlgQuota" tabindex="-1" role="dialog" aria-labelledby="dlgQuotaTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dlgQuotaTitle">修改配额</h4>
                </div>
                <div class="modal-body">
                    <form id="dlgQuotaForm">
                        <input type="hidden" id="hideIdNumber">
                        <div class="alert alert-warning hidden" id="dlgQuotaFormInputValid"></div>

                        <table class="table table-striped table-bordered addUserTable">
                            <tbody>
                            <tr>
                                <td class="text-right" width="20%">成员上限&nbsp;</td>
                                <td class="text-left" width="30%">
                                    <input type="number" id="entStaff" class="form-control input-sm">
                                </td>
                                <td class="text-right" width="20%">群成员上限&nbsp;</td>
                                <td class="text-left" width="30%">
                                    <input type="number" id="entMaxGroupPer" class="form-control input-sm">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="btnQuotaSave" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 修改密码对话框 -->
    <div class="modal" id="dlgChangeRootPwd" tabindex="-1" role="dialog" aria-labelledby="dlgChangeRootPwdTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dlgChangeRootPwdTitle">修改密码</h4>
                </div>
                <div class="modal-body">
                    <form id="dlgChangeRootPwdForm">

                        <div class="alert alert-warning hidden" id="dlgChangeRootPwdInputInvalid"></div>

                        <table class="table table-striped table-bordered addGroupTable">
                            <tbody>
                            <tr>
                                <td class="text-right" width="20%">当前密码</td>
                                <td class="text-left" width="30%">
                                    <input type="password" id="curPassword" class="form-control input-sm">
                                </td>

                                <td class="text-right" width="20%"></td>
                                <td class="text-left" width="30%">
                            </tr>
                            <tr>
                                <td class="text-right" width="20%">新密码</td>
                                <td class="text-left" width="30%">
                                    <input type="password" id="chgNewRootPassword" class="form-control input-sm">
                                </td>

                                <td class="text-right" width="20%">重复密码</td>
                                <td class="text-left" width="30%">
                                    <input type="password" id="repChgNewRootPassword" class="form-control input-sm">
                                </td>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="btnChangeRootPwd" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>


    <!-- 重置密码对话框 -->
    <div class="modal" id="dlgChangePwd" tabindex="-1" role="dialog" aria-labelledby="dlgChangePwdTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dlgChangePwdTitle">重置当前企业密码</h4>
                </div>
                <div class="modal-body">
                    <form id="dlgChangePwdForm">

                        <div class="alert alert-warning hidden" id="dlgChangePwdInputInvalid"></div>

                        <table class="table table-striped table-bordered addGroupTable">
                            <tbody>
                            <tr>
                                <td class="text-right" width="20%">新密码</td>
                                <td class="text-left" width="30%">
                                    <input type="password" id="chgNewPassword" class="form-control input-sm">
                                </td>

                                <td class="text-right" width="20%">重复密码</td>
                                <td class="text-left" width="30%">
                                    <input type="password" id="repChgNewPassword" class="form-control input-sm">
                                </td>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="btnChangePwd" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 添加/编辑 用户对话框 -->
    <div class="modal" id="dlgAddEnterprise" tabindex="-1" role="dialog" aria-labelledby="dlgAddEnterTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dlgAddEnterTitle">添加帐户</h4>
                </div>
                <div class="modal-body">
                    <form id="dlgEnterForm">

                        <div class="alert alert-warning hidden" id="dlgFormInputValid"></div>

                        <table class="table table-striped table-bordered addUserTable">
                            <tbody>
                            <tr>
                                <td class="text-right" width="20%">帐户名称</td>
                                <td class="text-left" width="30%"><input type="text" id="enterName"
                                                                         class="form-control input-sm"></td>
                                <td class="text-right" width="23%">登录号码&nbsp;</td>
                                <td class="text-left" width="27%">
                                    <input type="number" id="commanderPhoneNbr" class="form-control input-sm">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">登录密码</td>
                                <td class="text-left"><input id="pwd" type="password" class="form-control input-sm">
                                </td>
                                <td class="text-right">重复密码</td>
                                <td class="text-left"><input id="repwd" type="password"
                                                             class="form-control input-sm"></td>
                            </tr>
                            <!--<tr>-->
                                <!--<td class="text-right" width="20%">成员上限&nbsp;</td>-->
                                <!--<td class="text-left" width="30%">-->
                                    <!--<input type="number" id="staff" class="form-control input-sm">-->
                                <!--</td>-->
                                <!--<td class="text-right" width="20%">群成员上限&nbsp;</td>-->
                                <!--<td class="text-left" width="30%">-->
                                    <!--<input type="number" id="maxGroupPer" class="form-control input-sm">-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--&lt;!&ndash;<td class="text-right" width="20%">视频分辨率&nbsp;</td>&ndash;&gt;-->
                                <!--&lt;!&ndash;<td class="text-left" width="30%">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<select id="vedioMode">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<option value="HIGH">高清</option>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<option value="NORMAL">标清</option>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<option value="VGA">VGA</option>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<option value="QVGA">QVGA</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</select>&ndash;&gt;-->
                                <!--&lt;!&ndash;</td>&ndash;&gt;-->
                                <!--<td class="text-right" width="20%">数据密钥&nbsp;</td>-->
                                <!--<td class="text-left" width="30%">-->
                                    <!--<input id="key" class="form-control input-sm">-->
                                <!--</td>-->
                                <!--<td class="text-right" width="23%">指挥号电话号码&nbsp;</td>-->
                                <!--<td class="text-left" width="27%">-->
                                    <!--<input type="number" id="commanderPhoneNbr" class="form-control input-sm">-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td class="text-right" width="23%">指挥号电话号码&nbsp;</td>-->
                                <!--<td class="text-left" width="27%">-->
                                    <!--<input type="number" id="commanderPhoneNbr" class="form-control input-sm">-->
                                <!--</td>-->
                                <!--<td class="text-right" width="20%">&nbsp;</td>-->
                                <!--<td class="text-left" width="30%">&nbsp;</td>-->
                            <!--</tr>-->
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="btnEnterSave" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="position:fixed; bottom:0; left:32%">
    <span>版权所有  沱江资阳段洪水风险图管理系统</span>
</div>

</body>

<script type="text/javascript">
    $("#expDate").datepicker({format: 'yyyy-mm-dd', autoclose: true, language: 'zh-CN'});
    $("#mdExpDate").datepicker({format: 'yyyy-mm-dd', autoclose: true, language: 'zh-CN'});
</script>

</html>