<!DOCTYPE html>
<html>
<head>
    <title>沱江资阳段洪水风险图管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="/3rd/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="/3rd//smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"/>-->
    <!--解决百度地图的labe边框与bootstrap自到的边框相冲突的问题,所以使用这个修改版的bootstrap样式-->
    <link href="/css/xz_bootstrap.min.css" rel="stylesheet">
    <link href="/css/layer.css" rel="stylesheet">
    <link rel="stylesheet" href="/3rd/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" href="/3rd/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css"/>
    <link rel="stylesheet" href="/3rd/bootstrap-fileinput/css/fileinput.min.css" media="all" type="text/css"/>
    <link href="/css/schedule.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="/css/screenContent.css">
    <link rel="stylesheet" href="/css/mapView.css">
    <link rel="stylesheet" href="/css/logging.css">
    <link rel="stylesheet" href="/css/waterPerson.css">
    <link rel="stylesheet" href="/css/imgMgt.css">
    <link rel="stylesheet" href="/css/planMgt.css">
    <link rel="stylesheet" href="/css/selImgMgt.css">
    <link rel="stylesheet" href="/css/viewImgMgt.css">
    <link rel="stylesheet" href="/css/sigleImgMgt.css">
    <link rel="stylesheet" href="/css/sms.css">

    <link rel="stylesheet" type="text/css" href="/pagination/common/reset.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/pagination/common/highlight.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/pagination/common/common.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/pagination/pagination.css" media="screen">

    <script src="/3rd/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/3rd/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/3rd/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/3rd/jquery.cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="/3rd/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/3rd/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://api.map.baidu.com/api?v=2.0&ak=7jQeaeyVKbyYAVVVqNSfC6wxLkE9vYhw&s=1"></script>
    <script src="/js/common/DistanceTool_min.js"></script>
    <script src="/3rd/lodash/dist/lodash.min.js"></script>
    <script src="/3rd/moment/min/moment.min.js"></script>
    <script src="/3rd/base-64/base64.js"></script>
    <script src="/3rd/jquery-ui/jquery-ui.js"></script>
    <script src="/3rd/zTree/js/jquery.ztree.core.js"></script>
    <script src="/3rd/zTree/js/jquery.ztree.exhide.js"></script>
    <script src="/3rd/zTree/js/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="/3rd/zTree/js/jquery.ztree.exedit.js"></script>

    <script src="/3rd/bluebird/js/browser/bluebird.min.js"></script>
    <script type="text/javascript" src="/3rd/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/lib/my97datepicker/WdatePicker.js"></script>
    <script type="text/javascript" src="/js/common/utils.js"></script>
    <script type="text/javascript" src="/js/common/tree.js"></script>
    <script type="text/javascript" src="/js/common/event.js"></script>

    <script type="text/javascript" src="/3rd/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script type="text/javascript" src="/3rd/bootstrap-fileinput/js/locales/zh.js"></script>

    <style>
        .navdown a {
            color: #ff0000;
            color: #0000dd
            border: 1px solid #F00;
        }
    </style>
    <script type="text/javascript">
        var show = false;

        <% if(user.privileges.indexOf("auditManage") > -1){  %>
            show = true;
        <%}%>

        <!--窗口大小发生改变时,调整整个下部的大小,并刷新accordion-->
        $(window).resize(function () {
            var colHeight = (document.documentElement.clientHeight - 50) + 'px';
            document.getElementById('mainBottomContainerId').style.height = colHeight;
            $("#accordion").accordion("refresh");
        })

        $(function () {
            initStallTree();
            $("#operator").draggable();
            $('.loggingBox').draggable();
            $('.viewImgMgtBox').draggable();
            $('.selImgMgtBox').draggable();
            $('.singleImgMgtBox').draggable();
            $('.imgMgtBox').draggable();
            $('.semdSMSBox').draggable();
            $('.screenContentBox').draggable();
            $('.screenBox').draggable();
            $('.waterPersonBox').draggable();
            $('.planMgtBox').draggable();
            $('#messageFrame').draggable();
            $("#sSearch").hide();

            //初始化整个下部窗口大小
            var colHeight = (document.documentElement.clientHeight - 50) + 'px';
            document.getElementById('mainBottomContainerId').style.height = colHeight;

            tabsAndAccordionSetting();

        });

        //标签页和折叠框设置
        function tabsAndAccordionSetting() {
            $("#tabs").tabs({
//                heightStyle: "fill",
//                load:function(event,ui){
//                    $('.contentsIframe').width(200);
//                    $('.contentsIframe').height(1400);
//                }
            });
            $(".tabs-bottom .ui-tabs-nav, .tabs-bottom .ui-tabs-nav > *")
                    .removeClass("ui-corner-all ui-corner-top")
                    .addClass("ui-corner-bottom");
            // 移动导航到底部
            $(".tabs-bottom .ui-tabs-nav").appendTo(".tabs-bottom");

            $('#accordion').accordion({
                heightStyle: 'fill',
//                fillSpace: true,
                collapsible: true
            });
        }

        function goToAdmin() {
            window.open("/admin");
//            self.location = "/admin";
        }

        function commandMod() {
            commanding();
            $('#commandMods').siblings().click(function () {
                $("#commandModeDiv").hide();
            });
        }

        function replay() {

            $("#stDate").val('');
            $("#edDate").val('');
            $('#loggingstDate').val('');
            $('#loggingedDate').val('');
            $('#tracedetailtable').text('');
            $("#organization").show();
            $("#commandModeDiv").hide();
            $('#rePlay').show('slide', 1000);
//            $('.shirinkBtn').show();
//            $('.stretchBtn').hide();
            $('.authorize').hide();
//            resetTreeSelect();
        }

        function commanding() {
            //$("#organization").hide();
            $("#commandModeDiv").show();
        }

        function mapOperate() {
            $("#organization").show();
            $("#commandModeDiv").hide();
        }

        function show(total, show) {
            for (var i in total) {
                $("#s" + total[i]).hide();
                $("#li" + total[i]).removeClass("tab_nav_show");
            }
            $("#s" + show).show();
            $("#li" + show).addClass("tab_nav_show");
        }
    </script>
</head>
<body>

<div class="mainBox">

    <!--<div>sagdgsdfg</div>-->
    <!--会话框和语音对讲-->
    <div id="conversationMain" class="conversationMain" style="display: none;">
        <i class="closeFunIcon" onclick="closeWin();"></i>
        <!--对讲部分-->
        <!--<div class="intercomCallBox">-->
        <!--<iframe src="<%= pttsdk %>/plugins/intercomCall/"></iframe>-->
        <!--</div>-->
        <!--视频部分-->
        <!--<div class="intercomCallBox">-->
        <!--<iframe src="<%= pttsdk %>/plugins/video"></iframe>-->
        <!--</div>-->
        <div class="conversationBox">
            <iframe id="messageFrame" src="<%= pttsdk %>/plugins/conversation/"></iframe>
        </div>
        <!--<div class="intercomCallBox">-->
        <!--<iframe src="<%= pttsdk %>/plugins/video"></iframe>-->
        <!--</div>-->
    </div>
    <!--日志对话框-->
    <div class="loggingBox">
        <div class="loggingIcon moveIcon"></div>
        <div class="loggingIcon closeLogging" onclick="closeLogging()"></div>
        <div class="logggingMain">
            <span class="loggingTitle">日志记录查询</span>
            <div class="logggingTop">
                <div class="loggingSelected_staff_area">
                    <div id="loggingReplaySelectedStaff" class="loggingReplaySelectedStaff">
                        <span id="choiseZtree" class="loggingNochose">请在组织树上选择:</span>
                    </div>
                </div>

                <div class="riliBox">
                    <span class="riliLogo loggingRiliLogo"></span>
                    <input class="rili" id="loggingstDate" type="text" size="17px"
                           onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
                    <input class="rilitow" id="loggingedDate" type="text" size="17px"
                           onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
                </div>
                <div class="loggingRight">

                        <span class="glyphicon loggingPlay glyphicon-fast-backward lastperson" aria-hidden="true"
                              onclick="rep.loggingPreStaff()"></span>
                    <span class="glyphicon loggingPlay glyphicon-play startplay" aria-hidden="true"
                          onclick="rep.loggingPlay()"></span>
                    <span class="glyphicon loggingPlay glyphicon-fast-forward nextperson" aria-hidden="true"
                          onclick="rep.loggingNextStaff()"></span>
                </div>

            </div>
            <div class="logggingBottom">
                <div class="loggingContactList">
                    <input type="text" value="搜索"
                           onfocus="javascript:if(this.value=='搜索')this.value='';"
                           onblur="javascript:if(this.value=='')this.value='搜索';"
                           onkeyup="searchInLocTree('sLocSearch')"
                           class="form-control input-sm loggingserchBtn">
                    <div class="contactList">
                        <div class="talksBox">
                            <ul>
                                <li>
                                    <i class="one"></i>
                                    <div>
                                        <b>组名称</b><br>
                                        <span>最后一次会话</span>
                                    </div>
                                    <p>时间</p>
                                </li>
                                <li>
                                    <i class="tow"></i>
                                    <div>
                                        <b>组名称</b><br>
                                        <span>最后一次会话</span>
                                    </div>
                                    <p>时间</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="loggingTalkBox">
                    <div class="loggingTalkMain">
                        <div class="loggingTalkTitlt">会话组名称<i class="hideFunIcon" onclick="hideFuncShow()"></i></div>
                        <div class="loggingTalkContent"></div>
                        <div class="hideFuncBox">
                            <div class="hideMian">
                                <p>会话名称</p>
                                <span>12344</span>
                                <p class="lookforInfo" onclick="lookforContanctInfo()">查看聊天记录</p>
                                <div class="NumberBox">
                                    <!--<div class="addNumber">-->
                                    <!--<i class="addNumIcon"></i>添加成员-->
                                    <!--</div>-->
                                </div>
                                <div class="exitContect">删除并退出</div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="contanctInfo">
                    <div class="contanctInfoMain">
                        <div class="contanctInfoSerchBox">
                            <input type="text" value="搜索"
                                   onfocus="javascript:if(this.value=='搜索')this.value='';"
                                   onblur="javascript:if(this.value=='')this.value='搜索';"
                                   onkeyup="searchInLocTree('sLocSearch')"
                                   class="form-control input-sm serchContactInfo">
                            <div class="contanctInfoClose" onclick="closeContactInfo()">取消</div>
                        </div>
                        <div class="fastSerchBox">
                            <p>快速搜索聊天内容</p>
                            <a>群成员</a>
                            <a>日期</a>
                            <a>图片及视频</a><br>
                            <a>文件</a>
                            <a>链接</a>
                            <a>音乐</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--图件相关页面-->


    <!-- 预案查询图件相关页面列表 -->
    <div class="viewImgMgtBox" style="z-index: 99">
        <div id="viewImgMgt" role="tabpanel" class="tab-pane">
            <input type="hidden" id="curDocId">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="contentBtnGroup">
                            查询关联图件
                            <button id="viewCloseImgMgt" class="close"><span
                                        aria-hidden="false">&times;</span></button>

                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <table id="viewImgMgtTable" class="table table-striped table-bordered" cellspacing="0"
                           width="100%">
                    </table>
                    <div class="m-style viewImgM-box" style="text-align: center"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- 预案查询图件相关页面列表 -->
    <div class="selImgMgtBox" style="z-index: 99">
        <div id="selImgMgt" role="tabpanel" class="tab-pane">
            <input type="hidden" id="curDocId">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="contentBtnGroup">
                            <select class="btn btn-default btn-sm" id="searchImgMgtTypebbb">
                                <option value="0">请选择图件类型</option>
                                <option value="1">洪水风险图图件</option>
                                <option value="2">大断面测量图件</option>
                            </select>
                            <input class="form-control" id="selSearchImgName" placeholder="请输入你要查询的图件关键字" type="text"
                                   style="width: 260px;">
                            <input class="form-control" id="selSearchWPName" placeholder="你要查询的联系人" type="text"
                                   style="width: 260px;">
                            <button id="searchImgMgtbbb" type="button" class="btn btn-default btn-sm">查询</button>
                            <button id="savePlanImgRel" type="button" class="btn btn-default btn-sm">关联
                            </button>

                            <button id="selCloseImgMgt" class="close"><span
                                        aria-hidden="false">&times;</span></button>

                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <table id="relImgMgtTable" class="table table-striped table-bordered" cellspacing="0"
                           width="100%">
                    </table>
                    <div class="m-style selImgM-box" style="text-align: center"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- 图件相关页面列表 -->
    <div class="singleImgMgtBox">
        <div id="imgMgt" role="tabpanel" class="tab-pane">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="contentBtnGroup">
                            <div>预览图件</div>
                            <button style="margin-top: -20px;" id="closeSingleImgMgt" class="close"><span>&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table align="center" id="singleImgMgtTable" class="table table-striped table-bordered"
                           cellspacing="0"
                           width="100%">
                    </table>
                    <div class="m-style sinImgM-box" style="text-align: center"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- 图件相关页面列表 -->
    <div class="imgMgtBox">
        <div id="imgMgt" role="tabpanel" class="tab-pane">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="contentBtnGroup">
                            <select class="btn btn-default btn-sm" id="searchImgMgtType">
                                <option value="0">请选择图件类型</option>
                                <option value="1">洪水风险图图件</option>
                                <option value="2">大断面测量图件</option>
                            </select>
                            <input class="form-control" id="searchImgName" placeholder="请输入你要查询的图件关键字" type="text"
                                   style="width: 260px;">
                            <input class="form-control" id="searchWPName" placeholder="你要查询的联系人" type="text"
                                   style="width: 260px;">
                            <button id="searchImgMgt" type="button" class="btn btn-default btn-sm">查询</button>
                            <% if(user.privileges.indexOf("auditManage") > -1){  %>
                            <button id="addImgMgt" type="button" class="btn btn-default btn-sm">添加图件
                            </button>
                            <%}%>
                            <!--<button id="closeImgMgt" type="button" class="btn btn-default btn-sm">关闭-->
                            <!--</button>-->

                            <button id="closeImgMgt" class="close"><span
                                        aria-hidden="false">&times;</span></button>

                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <table id="imgMgtTable" class="table table-striped table-bordered" cellspacing="0"
                           width="100%">
                    </table>
                    <div class="m-style imgM-box" style="text-align: center"></div>
                </div>
            </div>
        </div>
    </div>

    <!--上传图件对话框-->
    <div class="modal" id="imgMgtDialog" tabindex="-1" role="dialog"
         aria-labelledby="dlgAddGroupTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dlgAddGroupTitle">添加图件</h4>
                </div>
                <div class="modal-body">
                    <form id="addMapSigoView" enctype="multipart/form-data">
                        <div class="alert alert-warning hidden"
                             id="dlgImgMgtFormInputInvalid"></div>
                        <table class="table table-striped table-bordered addMapSigoTable">
                            <tbody>
                            <tr>
                                <td width="20%" class="text-center">图件名称</td>
                                <td colspan="3">
                                    <input id="imgMgtName" type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center" width="20%">图件类型</td>
                                <td width="30%">
                                    <select id="imgMgtType" onchange="mgtTypeChange()">
                                        <option value="1">洪水风险图图件</option>
                                        <option value="2">大断面测量图件</option>
                                    </select>
                                </td>
                                <td class="text-center" width="20%">联系人</td>
                                <td id="imgMgtWaterPerson">
                                </td>
                            </tr>
                            <tr id="mgtTypeTr" style="display: none">
                                <td class="text-center" width="20%">水位站</td>
                                <td colspan="3">
                                    <select id="waterStateId">
                                        <option value="ZYSW000001">老君镇水位站</option>
                                        <option value="ZYSW000002">保和镇水位站</option>
                                        <option value="ZYSW000003">沱三桥水位站</option>
                                        <option value="ZYSW000004">江南半岛水位站</option>
                                        <option value="ZYSW000005">南津驿水位站</option>
                                        <option value="ZYSW000006">王二溪水位站</option>
                                        <option value="ZYSW000007">伍隍镇水位站</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="4">
                                    <div class="sigoInfileRow">
                                        <div class="box">
                                            <div id="div_imglook" class="show">
                                                <div style="clear: both;"></div>
                                                <div id="div_imgfile"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--确定上传按钮-->
                                    <input type="button" class="btn btn-primary" value="确定上传" id="btn_ImgUpStart"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="button" id="imgMgtSave" class="btn btn-primary">保存
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--防洪负责人相关页面结束-->

    <!--发送短信相关页面-->
    <!-- 发送短信防汛负责人列表 -->
    <div class="semdSMSBox">
        <div id="sendSMSManage" role="tabpanel" class="tab-pane">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="contentBtnGroup">
                            <!--<button id="closeWaterPerson" type="button" class="btn btn-default btn-sm">关闭-->
                            <!--</button>-->

                            <button id="closeSendSMS" type="button" class="close" data-dismiss="modal"
                                    aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <div>发送短信通知</div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <table class="table table-striped table-bordered" cellspacing="0"
                           width="100%">
                        <thead>
                        <tr>
                            <th width="20%">人员列表&nbsp;&nbsp;
                                <% if(user.privileges.indexOf("auditManage") > -1){  %>
                                <button onclick="saveasGroup()">保存为组</button>
                                <%}%>
                            </th>
                            <th width="20%">组列表&nbsp;&nbsp;
                                <% if(user.privileges.indexOf("auditManage") > -1){  %>
                                <button onclick="deleteGroup()">删除组</button>
                                <%}%>
                            </th>
                            <th width="60%">短信内容</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div style="height: 400px; overflow: scroll">
                                    <table border="0">
                                        <tbody id="contactNames">
                                        <!--<tr>-->
                                        <!--<td style="padding: 0px 0px 0px 0px;">-->
                                        <!--<input style="margin-top: 0px; width: 30px; height: 30px"-->
                                        <!--type="checkbox"-->
                                        <!--value="18980670503">-->
                                        <!--<div style="margin-top: 5px">刘谋杰</div>-->
                                        <!--</td>-->
                                        <!--</tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td>
                                <div style="height: 400px; overflow: scroll">
                                    <table border="0">
                                        <tbody id="gropuNames">
                                        <!--<tr>-->
                                        <!--<td style="padding: 0px 0px 0px 0px;">-->
                                        <!--<input style="margin-top: 0px; width: 30px; height: 30px"-->
                                        <!--type="checkbox"-->
                                        <!--value="18980670503">-->
                                        <!--<div style="margin-top: 5px">刘谋杰</div>-->
                                        <!--</td>-->
                                        <!--</tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td>
                                <div style="height: 400px; overflow: scroll">
                                    <table border="0">
                                        <tr>
                                            <td style="padding: 0px 0px 0px 0px;">
                                                <div id="selectedNames" style="height: 60px; overflow: scroll">已选择人员:
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0px 0px 0px 0px;">
                                                通知类型:
                                                <select id="msgType" style="height:38px;" onchange="chgMsgType()">
                                                    <option value="1">会议通知</option>
                                                    <option value="2">雨水情讯息</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0px 0px 0px 0px;">
                                                <input style="width: 468px" id="msgtime"
                                                       onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                                                       placeholder="请选择会议时间">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0px 0px 0px 0px;">
                                                <input style="width: 468px" id="msgaddress" placeholder="请输入会议地点">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0px 0px 0px 0px;">
                                                <textarea rows="5" cols="80" id="msgtext"
                                                          placeholder="请输入会议通知内容"></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <% if(user.privileges.indexOf("auditManage") > -1){  %>
                                                <button type="button" id="btnWaterPersonSave" class="btn btn-primary">发
                                                    送
                                                </button>
                                                <%}%>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- led屏相关页面 -->

    <!-- led屏设置 -->
    <div class="modal" id="dlgScreenSet" tabindex="-1" role="dialog" aria-labelledby="dlgAddWaterPersonTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <input type="hidden" id="screenSaveMode"/>
                    <input type="hidden" id="screenId"/>
                    <h4 class="modal-title" id="dlgAddWaterPersonTitle">设置LED屏幕显示</h4>
                </div>
                <div class="modal-body">
                    <form id="dlgScreenForm">

                        <div class="alert alert-warning hidden" id="dlgContentFormInputInvalid"></div>

                        <table class="table table-striped table-bordered addWaterPersonTable">
                            <tbody>
                            <tr>
                                <td class="text-left" width="100%" colspan="4">
                                    <textarea id="screenText" rows="3" cols="70" onblur="genPreview()"></textarea>

                                </td>
                            </tr>
                            <tr>
                                <td id="previewTd" align="center" width="100%" colspan="4">
                                    <div id="previewDiv"
                                         style="height: 112px; width: 160px; background-color: black; color: red; text-align: left; font-size: 16px"></div>
                                </td>
                            </tr>
                            <tr>
                                <!--<td class="text-center" width="25%">字体<select id="fFamily" onchange="genPreview()">-->
                                <!--<option value="Songti TC">宋体</option>-->
                                <!--<option value="Songti TC">仿宋</option>-->
                                <!--</select></td>-->
                                <!--<td class="text-center" width="25%">行间距<select id="fSpace" onchange="genPreview()">-->
                                <!--<option value="10">1</option>-->
                                <!--<option value="20">2</option>-->
                                <!--</select></td>-->
                                <td colspan="2" class="text-center" width="50%">颜色<select id="fColor"
                                                                                          onchange="genPreview()">
                                        <option value="red">红色</option>
                                        <option value="green">绿色</option>
                                        <option value="yellow">黄色</option>
                                    </select></td>
                                <td colspan="2" class="text-center" width="50%">大小<select id="fSize"
                                                                                          onchange="genPreview()">
                                        <option value="16">16</option>
                                        <option value="18">18</option>
                                        <option value="20">20</option>
                                        <option value="22">22</option>
                                        <option value="24">24</option>
                                        <option value="26">26</option>
                                        <option value="28">28</option>
                                        <option value="30">30</option>
                                        <option value="32">32</option>
                                    </select></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="btnScreenContentSave" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- led屏内容列表 -->
    <div class="screenContentBox">
        <div id="screenContentManage" role="tabpanel" class="tab-pane">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="contentBtnGroup">
                            <button id="closeScreenContent" type="button" class="close" data-dismiss="modal"
                                    aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>

                            <button id="addScreenContent" type="button" class="btn btn-default btn-sm">添加显示内容
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <table id="tabScreenContent" class="table table-striped table-bordered" cellspacing="0"
                           width="100%">
                        <thead>
                        <tr>
                            <th width="20%">编号</th>
                            <th width="50%">内容</th>
                            <th width="30%">相关操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- led屏相关页面 结束 -->

    <!-- led屏列表 -->
    <div class="screenBox">
        <div id="screenManage" role="tabpanel" class="tab-pane">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="contentBtnGroup">
                            <button id="closeScreen" type="button" class="close" data-dismiss="modal"
                                    aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>

                            <div>LED屏管理</div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <table id="tabScreen" class="table table-striped table-bordered" cellspacing="0"
                           width="100%">
                        <thead>
                        <tr>
                            <th width="20%">名称</th>
                            <th width="25%">位置</th>
                            <th width="20%">描述</th>
                            <th width="35%">相关操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- led屏相关页面 结束 -->

    <!--防洪负责人相关页面-->
    <!-- 防汛负责人列表 -->
    <div class="waterPersonBox">
        <div id="waterPersonManage" role="tabpanel" class="tab-pane">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="contentBtnGroup">
                            <!--<button id="closeWaterPerson" type="button" class="btn btn-default btn-sm">关闭-->
                            <!--</button>-->

                            <button id="closeWaterPerson" type="button" class="close" data-dismiss="modal"
                                    aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <% if(user.privileges.indexOf("auditManage") > -1){  %>
                            <button id="addWaterPerson" type="button" class="btn btn-default btn-sm">添加联系人
                            </button>
                            <%}%>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <table id="tabWaterPerson" class="table table-striped table-bordered" cellspacing="0"
                           width="100%">
                        <thead>
                        <tr>
                            <th width="5%">序号</th>
                            <th width="20%">姓名</th>
                            <th width="20%">单位</th>
                            <th width="20%">职务</th>
                            <th width="20%">联系方式</th>
                            <% if(user.privileges.indexOf("auditManage") > -1){  %>
                            <th width="15%">相关操作</th>
                            <%}%>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- 添加/编辑 防汛负责人 -->
    <div class="modal" id="smsGroupAdd" tabindex="-1" role="dialog" aria-labelledby="dlgAddWaterPersonTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="cancelGPBox()"><span
                                aria-hidden="true">&times;</span></button>
                    <% if(user.privileges.indexOf("auditManage") > -1){  %>
                    <h4 class="modal-title" id="dlgAddWaterPersonTitle">添加通讯组</h4>
                    <%}%>
                </div>
                <div class="modal-body">
                    <form id="dlgUserForm">

                        <div class="alert alert-warning hidden" id="dlgGroupPersonFormInputInvalid"></div>

                        <table class="table table-striped table-bordered addWaterPersonTable">
                            <tbody>
                            <tr>
                                <td class="text-right" width="20%">组名</td>
                                <td class="text-left" width="80%"><input type="text" id="wpGroupName"
                                                                         class="form-control input-sm"></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="cancelGPBox()" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="button" onclick="btnPersonGroupSave()" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!--防洪负责人相关页面结束-->


    <!-- 添加/编辑 防汛负责人 -->
    <div class="modal" id="dlgAddWaterPerson" tabindex="-1" role="dialog" aria-labelledby="dlgAddWaterPersonTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <input type="hidden" id="WaterPersonSaveMode"/>
                    <h4 class="modal-title" id="dlgAddWaterPersonTitle">添加联系人</h4>
                </div>
                <div class="modal-body">
                    <form id="dlgUserForm">

                        <div class="alert alert-warning hidden" id="dlgWaterPersonFormInputInvalid"></div>

                        <table class="table table-striped table-bordered addWaterPersonTable">
                            <tbody>
                            <tr>
                                <td class="text-right" width="20%">姓名</td>
                                <td class="text-left" width="30%"><input type="text" id="wpName"
                                                                         class="form-control input-sm"></td>
                                <td class="text-right" width="20%">职务</td>
                                <td class="text-left" width="30%"><input type="text" id="wpPosition"
                                                                         class="form-control input-sm"></td>
                            </tr>
                            <tr>
                                <td class="text-right" width="20%">单位</td>
                                <td class="text-left" width="30%"><input type="text" id="wpEmgNbr"
                                                                         class="form-control input-sm"></td>
                                <td class="text-right" width="20%">联系方式</td>
                                <td class="text-left" width="30%"><input type="text" id="wpNbr"
                                                                         class="form-control input-sm"></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="btnWaterPSave" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!--防洪负责人相关页面结束-->


    <!-- 添加/编辑 防汛负责人 -->
    <div class="modal" id="dlgContent" tabindex="-1" role="dialog" aria-labelledby="dlgContentTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <input type="hidden" id="ContentSaveMode"/>
                    <input type="hidden" id="siteId"/>
                    <h4 class="modal-title" id="dlgContentTitle">校核数据</h4>
                </div>
                <div class="modal-body">
                    <form id="dlgContentForm">
                        <div class="alert alert-warning hidden" id="dlgContentFormInputInvalid"></div>
                        <table class="table table-striped table-bordered addWaterPersonTable">
                            <tbody>
                            <tr>
                                <td class="text-right" style=" width:10%">时间</td>
                                <td class="text-left" style=" width:40%"><input type="text" id="conArriveTime" readonly
                                                                                class="form-control input-sm"></td>
                                <td class="text-right" style=" width:20%">水位</td>
                                <td class="text-left" style=" width:30%"><input type="text" id="conFlow"
                                                                                class="form-control input-sm"></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="btnContentSave" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!--防洪负责人相关页面结束-->


    <!--预案管理相关页面-->
    <!-- 预案管理列表 -->
    <div class="planMgtBox">
        <div id="planMgtManage" role="tabpanel" class="tab-pane">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="contentBtnGroup">

                            <button id="closeplanMgtBox" type="button" class="close" data-dismiss="modal"
                                    aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <% if(user.privileges.indexOf("auditManage") > -1){  %>
                            <button id="addPlanMgtBox" type="button" class="btn btn-default btn-sm">添加预案
                            </button>
                            <%}%>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <table id="tabPlanMgtBox" class="table table-striped table-bordered" cellspacing="0"
                           width="100%">
                        <thead>
                        <tr>
                            <th width="20%">预案名称</th>
                            <th width="20%">预案描述</th>
                            <th width="20%">预案文档</th>
                            <th width="40%">相关操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- 添加/编辑 预案管理 -->
    <div class="modal" id="dlgAddPlanMgt" tabindex="-1" role="dialog" aria-labelledby="dlgAddPlanMgtTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <input type="hidden" id="planMgtSaveMode"/>
                    <input type="hidden" id="uploadFileName"/>
                    <input type="hidden" id="uploadFileExtName"/>
                    <input type="hidden" id="uploadFilePath"/>
                    <h4 class="modal-title" id="dlgAddPlanMgtTitle">添加预案</h4>
                </div>
                <div class="modal-body">
                    <form id="dlgUserForm">

                        <div class="alert alert-warning hidden" id="dlgPlanMgtFormInputInvalid"></div>

                        <table class="table table-striped table-bordered addPlanMgtTable">
                            <tbody>
                            <tr>
                                <td class="text-right" width="20%">预案名称</td>
                                <td class="text-left" colspan="3" width="70%"><input type="text" id="planName"
                                                                                     class="form-control input-sm"></td>
                            </tr>
                            <tr>
                                <td class="text-right" width="20%">预案描述</td>
                                <td colspan="3" class="text-left" width="30%"><textarea id="planDesc"
                                                                                        class="form-control input-sm"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right" width="20%">上传预案</td>
                                <td id="showTdText" colspan="3" class="text-left" width="30%" id="fileUpTd">
                                    <div id="showFileUp"><input type="file" id="fileUp" name="fileUp"
                                                                class="file-loading"
                                                                data-show-preview="false">
                                    </div>
                                    <span style="display: none" id="showFileName"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="btnPlanMgtSave" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!--预案管理相关页面结束-->

    <!-- 设置水位站信息相关页面 -->
    <div class="modal" id="waterStateSettingMgt" tabindex="-1" role="dialog" aria-labelledby="waterStateSettingTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="waterStateSetingMgtTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="dlgUserForm">

                        <div class="alert alert-warning hidden" id="dlgwaterStateSettingInvalid"></div>
                        <input type="hidden" id="waterStateSetId">
                        <table class="table table-striped table-bordered addPlanMgtTable">
                            <tbody id="waterStateSetTable">

                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <% if(user.privileges.indexOf("auditManage") > -1){  %>
                    <button type="button" onclick="waterStateSet()" class="btn btn-primary">设置</button>
                        <% }%>
                </div>
            </div>
        </div>
    </div>
    <!--预测输入界面结束-->


    <div class="modal" id="showFullPage" tabindex="-1" role="dialog"
         aria-labelledby="waterStateSettingTitle">
        <div class="modal-dialog" style="margin-left: 150px" role="document">
            <div class="modal-content" style="width: 1000px; height: 600px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="showFullPageTitle">全景图片</h4>
                </div>
                <div class="modal-body" style="width: 1000px; height: 560px">
                    <iframe id="fullPageSrc" src="http://www.upinvr.com/360/aggk2fsfy5rbqt2k/?sceneid=1"></iframe>
                </div>
            </div>
        </div>
    </div>


    <!--主UI上部-->
    <div class="mainTop mainBackGroundColor">
        <div class="topBox">
            <div class="topLeft">

                <ul class="leftUl">
                    <div class="showsBox" style="width: 40px;">
                        <li onclick="homePage()">首页</li>
                    </div>
                    <div class="mapOperBox">
                        <li>洪水风险图</li>
                        <div class="mapOperHBox">
                            <a onclick="drawPoints(5)">五年</a>
                            <a onclick="drawPoints(10)">十年</a>
                            <a onclick="drawPoints(20)">二十年</a>
                            <a onclick="drawPoints(50)">五十年</a>
                            <a onclick="drawPoints(100)">百年</a>
                        </div>
                    </div>
                    <div class="showsBox">
                        <li onclick="planMgt()">预案管理</li>
                    </div>
                    <div class="showsBox">
                        <li onclick="imgMgt()">图件管理</li>
                    </div>
                    <div class="showsBox">
                        <li onclick="waterPerson()">联系人</li>
                    </div>
                    <div class="showsBox">
                        <li onclick="sendSms()">短信通知</li>
                        <!--<li onclick="screen()">短信通知</li>-->
                    </div>
                    <div class="showsBox">
                    <li onclick="threeSystem();">三维系统</li>
                    </div>
                    <!--<div class="showsBox">-->
                    <!--<li onclick="waterSateMgt();">内涝点管理</li>-->
                    <!--</div>-->

                    <!--<div class="showsBox">-->
                    <!--<li onclick="forecast();">洪水预测</li>-->
                    <!--</div>-->

                    <div class="MenuBox">
                        <div class="topMenu"></div>
                        <div class="menuHBox">
                            <a href="/admin/logout">退出</a>
                        </div>
                    </div>
                </ul>

            </div>

            <div class="topRight">
                <i class="zrtLogo"></i>
                <span id="userInforos">
                    <div style="line-height: 20px;">欢迎您:资阳市防汛办公室 </div>
                    <div><strong class="timeShow">2017-05-09 13:27:20</strong></div>
                </span>
            </div>
            <!--<div id="alarm" class="topCenter">-->
            <!--警报发生时的class= onAlarmIcon要去掉原来的class-->
            <!--<i class="alarmIcon"></i>-->
            <!--<i class="onAlarmIcon"></i>-->
            <!--</div>-->
        </div>
    </div>
    <!--主UI下部-->
    <div class="mainBottomContainer" id="mainBottomContainerId">
        <div class="mainLeft">
            <div id="tabs" class="tabs-bottom"
                 style="-webkit-box-flex: 1; display: -webkit-box; -webkit-box-orient: vertical;">
                <div style="width: 100%; height: auto; ">
                    <ul style="padding: 0">
                        <li><a href="#tabs-org">水位站管理</a></li>
                        <li><a href="#tabs-sysstate">内涝点管理</a></li>
                        <li><a href="#tabs-vedio">洪水短期预报</a></li>
                    </ul>
                </div>
                <div id="tabs-org"
                     style="-webkit-box-flex: 1; display: -webkit-box; -webkit-box-orient: vertical; padding:10px 0 2px 0">
                    <!--点击图标与在线-->
                    <div style="">
                        <div class="funModule">
                            <!--<ul id="allStates">-->
                            <!--</ul>-->
                            <div style="float: left;">
                                <select id="allStates" onchange="showWaterState()">
                                </select>
                            </div>
                            <div style="align-content: center">
                                <% if(user.privileges.indexOf("auditManage") > -1){  %>
                                &nbsp;&nbsp;<a onclick="waterSiteSetting()" style="text-decoration: underline;">设置</a>
                                <% } %>
                                &nbsp;&nbsp;<a onclick=" showHistory()" style="text-decoration: underline;">历史数据</a>
                            </div>
                        </div>
                    </div>
                    <!-- 水位站管理 -->
                    <div class="treeMaxBox ui-widget-content" style="height: 365px; overflow: auto">
                        <table border="0">
                            <thead>
                            <tr style="height: 30px; line-height: 0px">
                                <td width="60%" style="padding: 0px; width: 60%">时间</td>
                                <td width="40%" style="padding: 0px;; width: 20%">水位(m)</td>
                                <!--<td width="20%" style="padding: 0px;; width: 20%">操作</td>-->
                            </tr>
                            </thead>
                            <tbody id="waterStateTb">
                            </tbody>
                        </table>
                    </div>
                    <div id="rulerText" style="background-image: url('/images/ruler.png'); height: 200px">

                    </div>
                </div>


                <div id="tabs-sysstate"
                     style="-webkit-box-flex: 1; display: -webkit-box; -webkit-box-orient: vertical; padding:10px 0 2px 0">
                    <!--点击图标与在线-->
                    <div style="">
                        <div class="funModule">
                            <div style="float: left">
                                <select id="allLogging" onchange="showWaterLogging()">
                                </select></div>
                            <div style="align-content: center">
                                &nbsp;<a onclick="waterLoggingSetting()"
                                               style="text-decoration: underline;">设置</a>
                                &nbsp;<a onclick="screen()"
                                               style="text-decoration: underline;">LED预警</a>
                                &nbsp;<a onclick=" showLoggingHistory()" style="text-decoration: underline;">历史数据</a>
                            </div>
                        </div>
                    </div>
                    <!-- 内涝点管理 -->
                    <div class="treeMaxBox ui-widget-content" style="height: 358px; overflow: auto">

                        <table id="waterStateTb" border="0">
                            <thead>
                            <tr style="height: 30px; line-height: 0px">
                                <td width="60%" style="padding: 0px; width: 60%">时间</td>
                                <td width="20%" style="padding: 0px;; width: 20%">水深(m)</td>
                                <!--<td width="20%" style="padding: 0px;; width: 20%">操作</td>-->
                            </tr>
                            </thead>
                            <tbody id="waterLoggingTb"></tbody>
                        </table>
                    </div>

                    <div id="loggingRulerText" style="background-image: url('/images/ruler.png'); height: 200px">

                    </div>

                </div>

                <div id="tabs-vedio"
                     style="-webkit-box-flex: 1; display: -webkit-box; -webkit-box-orient: vertical; padding:10px 0 2px 0">
                    <!--点击图标与在线-->
                    <div style="height: 585px">
                        <div style="float: left">
                            三皇庙站水位
                        </div>
                        <div style="float: left">
                            <input type="text" style="width: 100px" id="forecastFollow">
                        </div>
                        <div style="float: left">
                            (米)
                        </div>
                        <div style="padding-left: 230px">
                            <button type="button" onclick="forecastAction()" class="btn btn-primary"
                                    style="align-content: center">预测
                            </button>
                        </div>
                        <table id="forecastTable">
                        </table>
                    </div>

                </div>

            </div>
        </div>
        <div class="leftZoomclose"></div>
        <div class="leftOpenBack"></div>
        <div class="leftZoomopen"></div>
        <div class="mainRight">
            <div class="rightTop">
                <span class="serchMapBox">
                    <i class="serchmapIcon"></i>
                    <input type="text" id="serchMapInput" class="form-control mapserchInput" placeholder="请输入您要查找的地点">
                    <div class="closeReplay" onclick="closeSerch()">
                        <img src="/images/closeIcon.png">
                    </div>
                </span>
            </div>

            <div id="divMouseSelect" class="mouseSelect" style="display: none"></div>
            <div id="allmap">

            </div>
        </div>
    </div>
</div>
<div id="mapCover"
     style="z-index: 9;position: relative; background-color: black; text-align: center; font-size: smaller; width:500px; color: white; margin-top: 670px; margin-left: 300px">
    资&nbsp;&nbsp;&nbsp;&nbsp;阳&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;洪&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;水&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;风&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;险&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;图&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;管&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;系&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;统
</div>
</body>
</html>

<script type="text/javascript" src="/js/gis/gisLeftTree.js"></script>
<script type="text/javascript" src="/js/gis/map/trace/replay.js"></script>
<script type="text/javascript" src="/js/common/pointsUtil.js"></script>
<script type="text/javascript" src="/js/gis/map/mapOperation.js"></script>
<script type="text/javascript" src="/js/gis/map/baiduMapAdapter.js"></script>
<script type="text/javascript" src="/js/gis/init.js"></script>
<script type="text/javascript" src="/js/gis/call/webCall.js"></script>
<script type="text/javascript" src="/js/gis/map/mapOperation/groupLocate.js"></script>
<script type="text/javascript" src="/js/gis/situation/controll.js"></script>
<script type="text/javascript" src="/js/gis/map/mapOperation/frameSelect.js"></script>
<script type="text/javascript" src="/js/gis/map/mapOperation/mapSigoView.js"></script>
<script type="text/javascript" src="/js/gis/map/mapOperation/search.js"></script>
<script type="text/javascript" src="/js/gis/map/mapOperation/clear.js"></script>
<script type="text/javascript" src="/js/gis/map/mapOperation/screen.js"></script>
<script type="text/javascript" src="/js/gis/map/mapOperation/waterPerson.js"></script>
<script type="text/javascript" src="/js/gis/map/mapOperation/waterState.js"></script>
<script type="text/javascript" src="/js/gis/map/mapOperation/addPoints.js"></script>
<script type="text/javascript" src="/js/gis/map/mapOperation/waterLogging.js"></script>
<script type="text/javascript" src="/js/gis/map/mapOperation/imgMgt.js"></script>
<script type="text/javascript" src="/js/gis/map/mapOperation/planMgt.js"></script>
<script type="text/javascript" src="/js/gis/map/mapOperation/measure.js"></script>
<script type="text/javascript" src="/js/gis/map/mapOperation/sms.js"></script>
<script type="text/javascript" src="/js/gis/map/mapOperation/IMGUP.js"></script>
<script type="text/javascript" src="/js/gis/situation/logging.js"></script>
<script src="/pagination/common/highlight.min.js"></script>
<script src="/pagination/jquery.pagination.js"></script>

<script>
    function closeWin() {
        $("#conversationMain").slideUp(1000);
        closeMessageWin();
    }
    showAllSite();
</script>