<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <script type="text/javascript" src="/3rd/jquery/dist/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/lib/pdf/jquery.media.js"></script>
    <title>查看PDF</title>
</head>
<body>
<div ><a class="pdf" href="<%=fname%>"></a></div>
</body>
</html>
<script type="text/javascript">
    let w = $(window).width();
    let h = $(window).height();
    $(function () {
        $('.pdf').media({width: w, height: h});
    });
    $('.btn').click(function () {
        $(".pdf").show();
    });
</script>