* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #edeff0;
}

.header {
    width: 100%;
    height: 620px;
}

.headerBox {
    height: 100%;
    margin: 0 auto;
}

.headLogo {
    width: 160px;
    height: 160px;
    background: url("../images/hfxtLogo.jpeg") no-repeat;
    background-size: 160px 160px;
    margin-left: 100px;
    float: left;
}

.logoText {
    font-size: 55px;
    color: #0d1c2e;
    float: left;
    padding-left: 10px;
    margin-top: 40px;
    font-weight: bold;
}

.centers {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
}

.centerBox {
    height: 100%;
    background: url("../images/center10.jpg") center no-repeat;
    width: 100%;
}

.logingBox {
    position: relative;
    margin: 0 auto;
}

.loginForm {
    float: right;
    margin-top: -460px;
    position: relative;
    width: 1270px;
    height: 470px;
    right: 40px;
    background: url("../images/login6.png") center no-repeat;
}

.panel-body {
    padding: 0;
}

.companyNum {
    position: absolute;
    top: 176px;
    right: 150px;
}

.formInp {
    width: 189px;
}

.pwdNum {
    position: absolute;
    top: 220px;
    right: 150px;
}

.loginbtn {
    position: absolute;
    top: 285px;
    right: 130px;
}

.loginBtns {
    padding: 6px 23px;
}

.downLaod {
    position: absolute;
    bottom: 85px;
    right: 130px;
}

.downLoadApp {
    display: block;
    width: 100px;
    height: 30px;
}

.checkB {
    position: absolute;
    top: 283px;
    right: 284px;
    color: #a2a3a8;
    font-size: 12px;
    line-height: 22px;
}

.checks {
    width: 16px;
    height: 16px;
}

.foot {
    width: 390px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.erroText {
    position: absolute;
    width: 270px;
    height: 30px;
    top: 160px;
    right: 112px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
}

.state1 {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(233, 102, 126, 0.6);
    border: 1px solid #d80b2a;
    color: #e00c0c;
}

.state2 {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 112, 233, 0.6);
    border: 1px solid #078ad2;
    color: #9b9ca0;
}
