@charset "utf-8";
/* CSS Document */

.layer_basic_tittle {
	position: relative;
	margin: 0 0 0 0;
	top: 0px;
	z-index: 1000;
}

.layer_basic_tittle_1 {
	width: 300px;
	height: 35px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.layer_basic_tittle_1 h6 {
	float: left;
	color: #383838;
	margin-top: 10px;
}

.layer_basic_tittle_1_ico {
	float: left;
	color: #8e8f91;
	margin: 0px 8px 0 8px;
}

.layer_basic_tittle_2 {
	clear: both;
	width: 350px;
	margin: 0 0 0 0;
	font-size: 12px;
	padding: 10px 0 0 0;
}

.layer_basic_tittle_btn_1 {
	float: left;
	font-size: 12px;
	margin: 0 10px 8px 0;
}

.layer_basic_tittle_btn_1 a {
	float: left;
	display: block;
	color: #555555;
	padding: 4px 8px;
	margin: 0 0 0 0px;
	text-align: center;
	border: 1px solid #c5c5c5;
	background: #fff;
}

.layer_basic_tittle_btn_1 a:hover {
	color: #fff;
	text-decoration: none;
	background: #5dc9e6;
	border: 1px solid #0286aa;
}

.layer_basic_tittle_btn_1_car {
	float: left;
	font-size: 12px;
	margin: 0 10px 8px 0;
}

.layer_basic_tittle_btn_1_car a {
	float: left;
	display: block;
	color: #555555;
	height: 21px;
	padding: 5px 11px 0 11px;
	margin: 0 0 0 10px;
	text-align: center;
	border: 1px solid #c5c5c5;
	background: #fff;
}

.layer_basic_tittle_btn_1_car a:hover {
	color: #fff;
	text-decoration: none;
	background: #5dc9e6;
	border: 1px solid #0286aa;
}

.layer_basic_tittle_1 .color_1 {
	color: #1274d0;
}

.layer_basic_line_1 {
	float: left;
	height: 1px;
	width: 320px;
	margin: 5px 0 5px 0;
	background: url(../images/dashed_1.png) repeat-x 0 bottom;
}

.layer_basic_info {
	margin: 20px 0 0 0;
	padding: 0 0 0 0;
	font-size: 12px;
}

.layer_basic_info_1 {
	height: 25px;
	line-height: 25px;
	width: 100%;
	margin-top: 10px;
}

.layer_basic_info_1_1 {
	float: left;
	width: 140px;
}

.layer_basic_info_1_11 {
	float: left;
	width: 240px;
}

.layer_basic_info_1_2 {
	float: left;
	width: 180px;
}

.layer_basic_info_1 span {
	font-family: Arial;
	color: #737373;
}

.layer_basic_info_2 {
	margin: 0 0 0 0;
	width: 100%;
}

.layer_basic_info_2 span {
	color: #737373;
}

.layer_basic_line_2 {
	border-top: 1px solid #dadada;
	margin: 7px 0 0 0;
}

.layer_basic_function {
	margin: 5px 0 0 0;
	padding: 0 0 0 0;
	font-size: 12px;
	width: 315px;
}

.layer_basic_function_1 h6 {
	margin: 0 0 10px 0;
	font-size: 12px;
}

.layer_basic_input {
	float: left;
	width: 150px;
	margin: -5px 15px 0 0;
}

.layer_basic_input input {
	float: left;
	width: 105px;
	height: 20px;
	margin: 0;
	font-size: 12px;
	color: #667079;
	background: none;
	padding: 0 0 0 0;
	border: none;
	font-family: "微软雅黑";
	border-bottom: 1px solid #bfbfbf;
	cursor: pointer;
}

.layer_basic_function_3 {
	float: left;
	width: 105px;
	margin: 5px 0 0 45px;
}
.layer_basic_tittle_btn_2 {
	float: left;
	font-size: 12px;
	width: px;
	margin: 0 0 0 0;
}

.layer_basic_tittle_btn_2 a {
	float: left;
	display: block;
	color: #000;
	padding: 5px 10px;
	margin: 0 5px 0 5px;
	text-align: center;
	border: 1px solid #c5c5c5;
	background: #fff;
}

.layer_basic_tittle_btn_2 a:hover {
	color: #fff;
	text-decoration: none;
	background: #5dc9e6;
	border: 1px solid #0286aa;
}
/**mark*/
.layer_mark_top {
	position: relative;
	height: 35px;
	margin: 5px 0 0 10px;
}

.layer_mark_top_edit {
	position: relative;
	height: 35px;
	margin: 10px 0 0 10px;
}

.layer_mark_top_1 {
	float: left;
	height: 35px;
	margin: 4px 0 0 0;
}

.layer_mark_top_1 h6 {
	float: left;
	color: #383838;
	font-size: 12px;
	margin: 2px 0 0 0;
}

.layer_basic_tittle_1_ico {
	float: left;
	color: #8e8f91;
	font-size: 12px;
	margin: 6px 8px 0 8px;
}

.layer_mark_top_1 .color_1 {
	color: #1274d0;
	letter-spacing: 1px;
}

.layer_mark_note {
	float: left;
	font-size: 12px;
	margin: 25px 0 0 25px;
}

.layer_mark_note span {
	border-bottom: 1px solid #c1c1c1;
}

.layer_mark_line_1 {
	width: 300px;
	height: 1px;
	margin: 0px 15px 0 10px;
	background: url(../images/dashed_1.png) repeat-x 0 0;
}

.layer_mark_info_1 a {
	display: block;
	float: left;
	width: 185px;
	min-height: 64px;
	font-size: 12px;
	margin: 5px 0 0 10px;
	padding: 0 20px 5px 0;
	color: #434343;
	border-right: 1px solid #dadada;
}

.layer_mark_info_1 a:hover {
	cursor: pointer;
	text-decoration: none;
	border-right: 1px solid #fff;
	background: url(../images/layer_chat_bg.png) repeat 0 0;
}

.layer_mark_info_1 span {
	color: #8c8c8c;
	letter-spacing: 1px;
}

.layer_mark_info_2 {
	float: right;
	width: 85px;
	height: 70px;
	margin: 17px 3px 0 0;
}

.layer_mark_wrapper_1 {
	width: 310px;
	min-height: 30px;
	margin: 0 0 0 0;
	color: #434343;
	padding: 10px 0 10px 0;
}

.layer_mark_wrapper_1:hover {
	color: #1274d0;
}

.layer_mark_top label {
	float: left;
	width: 35px;
	font-size: 12px;
	letter-spacing: 2px;
	margin: 5px 10px 0 0;
}

.layer_mark_wrapper_1 label {
	float: left;
	width: 35px;
	font-size: 12px;
	letter-spacing: 2px;
	margin: 5px 0 0 0;
}

.layer_mark_wrapper_1 input {
	float: left;
	width: 228px;
	height: 19px;
	margin: 0;
	color: #667079;
	background: none;
	padding: 3px 0 3px 10px;
	border: 1px solid #c1c1c1;
}

.layer_mark_wrapper_1 textarea {
	float: left;
	font-family: '微软雅黑';
	color: #667079;
	font-size: 12px;
	height: 90px;
	width: 228px;
	margin: 0 0 0 0;
	border: 1px solid #cccccc;
	padding: 5px 0 0 10px;
	outline: none;
}

.layer_mark_button {
	float: right;
	margin: 20px 25px 0 0;
}

.layer_mark_line {
	float: left;
	margin: 5px 0 0 5px;
}
.BMap_bubble_content{
	margin-top: -10px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	font-size: 13px;
	padding: 5px;
}