@charset "UTF-8";

.table > tbody > tr > td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.cEdit {
    padding: 0px 5px;
}

#dlgFormInputValid {
    padding: 5px 15px;
}