.viewImgMgtBox{
    display: none;
    width: 900px;
    height: 520px;
    position: absolute;
    margin: 0 auto;
    background-color: #fff;
    z-index: 4;
    margin-top: 5%;
    margin-left: 16%;
    border: 1px solid #eeeeee;
    box-shadow: 5px 5px 20px #888888;;
}
.viewImgMgtIcon{
    width: 24px;
    height: 24px;
    background-size: 24px;
    position: absolute;
}
.closeLogging{
    cursor: pointer;
    top:5px;
    right: 5px;
    background-image: url("../images/close2Icon.png");
}
.moveIcon{
    background-image: url("../images/moveIcon.png");
    right: -10px;
    bottom: -10px;
}
.logggingMain{
    margin: 10px 30px;
}
.logggingTop{
    height: 80px;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #eeeeee;
}
.viewImgMgtRiliLogo{
    width: 20px;
    height: 20px;
    background-size: 20px;
}
.viewImgMgtSelected_staff_area{
    float: left;
    text-align: left;
    margin-left: 50px;
}
.viewImgMgtPlay{
    font-size: 18px;
    padding-right: 30px;
}
.viewImgMgtRight{
    padding-left: 140px;
    float: left;
    padding-top: 10px;
}
.viewImgMgtReplaySelectedStaff{
    height: 70px;
    overflow-y: scroll;
    box-shadow: 1px 1px 1px #d2cdcd;
    width: 400px;
    margin-top: 3px;
    border-top: 1px solid #d8cccc;
    border-left: 1px solid #d8cccc;
}
.riliBox{
    background: url("../images/rili2.png") no-repeat 57% 13px;
    background-size: 20px 10px;
    padding: 5px 0 0 30px;
    height: 30px;
    float: left;
}
.viewImgMgtNochose{
    padding-left: 10px;
    float: left;
    margin-bottom: 10px;
    color: #fb5a0c;
    display: block;
    font-size: 16px;
}
.viewImgMgtTitle{
    font-size: 20px;
    color: #d22f30;
}
.retrunToSchedule{
    color: #fff;
    padding: 6px 20px;
    background-color: #e74b4c;
    float: left;
    margin: 30px;
    font-size: 16px;
}
.viewImgMgtSerch{
    position: relative;
    padding: 20px;
}
.viewImgMgtSerch i{
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-size: 30px;

}
.serchviewImgMgtIcon{
    top: 20px;
    left: 45%;
    background-image: url("../images/ss.png");
}
.freshenLoggingIcon{
    top: 23px;
    left: 66%;
    background-image: url("../images/freshen.png");
}
.input-viewImgMgt{
    width: 260px;
    margin: 0px auto;
    padding-left: 35px;
    color: #bbb3b3;
    margin-left: 45%;
}
#viewImgMgtTableTr td{
    height: 50px;
    background-color: #e5e5e5;
    line-height: 50px;
    font-size: 19px;
    color: #383737;
    text-align: center;
    vertical-align: middle!important;
}
.viewImgMgtTable_title{
    overflow-y: scroll;
    height: 250px;
    overflow-x: hidden;
    margin-top: -20px;
}
.viewImgMgtTable_title td{
    text-align: center;
    vertical-align: middle!important;
    height: 40px;
}
#viewImgMgtDataTable>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: none;
    border-bottom: 1px solid #dbdde0;
}
.serchType{
    width: 160px;
    height: 35px;
    float: left;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    line-height: 35px;
    text-align: center;
    margin-left: 32%;

}
.viewImgMgtContactList{
    float: left;
    margin: 0 0 0 0;
    width: 300px;
    height: 100%;
    overflow: auto;
    border: 1px solid #d8d8d8;
    padding: 0 20px 0 20px;
    border-bottom: 2px solid #d8d8d8;
}
.contactTitle{
    height: 32px;
    font-size: 13px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    margin: 12px 0 5px 0;
    padding: 0 auto;
    position: relative;
    left: 0px;
    letter-spacing: 0.5px;
    background: #d03030;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #f90808;
}
.logggingBottom{
    padding-top: 10px;
    padding-left: 20px;
}
.contactList .talksBox{
    display: block;
}
.contactList{
    height: 300px;
    overflow-y: scroll;
}
.viewImgMgtTalkBox{
    height: 100%;
    width: 500px;
    background-color: #f5f5f5;
    border: 1px solid #e2e1e1;
    float: left;
}
.viewImgMgtTalkMain{
    padding: 10px;
    position: relative;
}
.viewImgMgtTalkTitlt{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #e2e1e1;
    font-size: 16px;
    line-height: 40px;
}
.viewImgMgtTalkContent{
    height: 320px;
    width: 100%;
    overflow-y: scroll;
}
.hideFunIcon{
    display: block;
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-image: url("../images/more.png");
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.hideMian{
    padding: 10px;
}
.hideFuncBox{
    display: none;
    position: absolute;
    width: 40%;
    height: 330px;
    background-color: #fff;
    right: 0;
    z-index: 2;
    top: 50px;
    border-left: 1px solid #e2e2e2;
}
.hideMian{
    font-size: 12px;
}
.hideMian p{
    color: #8a8989;
}
.hideMian span{
    padding: 10px 0px;
    display: block;
}
.lookforInfo{
    cursor: pointer;
}
.NumberBox{
    padding-top: 20px;
    font-size: 14px;
    border-top: 1px solid #e2e2e2;
    height: 180px;
    overflow-y: scroll;

}
.addNumber{
    line-height: 40px;
}
.addNumIcon{
    display: block;
    width: 40px;
    height: 40px;
    background-size: 40px;
    background-image: url("../images/addNumber.png");
    float: left;
}
.exitContect{
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 10px;
    text-align: center;
    line-height: 30px;
    color: red;
    cursor: pointer;
    border-top: 1px solid #e2e2e2;
}
.contanctInfo{
    display: none;
    width: 200px;
    height: 300px;
    background-color: #ffffff;
    float: right;
    position: relative;
    top: -330px;
    left: -20px;
    z-index: 2;
    border: 1px solid #d8d1d1;
}
.contanctInfoMain{
    padding: 10px;
}
.contanctInfoClose{
    cursor: pointer;
}
.serchContactInfo{
    width: 140px;
    height: 20px;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
}
.contanctInfoSerchBox{
    color: #2bb023;
    padding-top: 10px;
}
.fastSerchBox{
    text-align: center;
    padding-top: 30px;
    line-height: 40px;
}
.fastSerchBox a{
    cursor: pointer;
    color: #2bb023;
    font-size: 12px;
    padding: 10px 6px;
    text-decoration: none;
}
.fastSerchBox p{
    color: #b3b0b0;
    margin: 0px;
}